layout {
    gaps 1

    center-focused-column "never"

    empty-workspace-above-first

    default-column-width { proportion 0.50; }
    
    preset-column-widths {
        proportion 0.25
        proportion 0.40
        proportion 0.50
        proportion 0.60
        proportion 0.75
    }

    preset-window-heights {
        proportion 0.25
        proportion 0.40
        proportion 0.50
        proportion 0.60
        proportion 0.75
    }

    focus-ring {
        width 1

        active-color "#7fc8ff"

        inactive-color "#505050"
    }

    border {
        off
    }

    tab-indicator {
        width 2
        
        gap -2

        length total-proportion=1.0

        active-color "#00ff00ff"
    }
}