spawn-at-startup "waybar"

hotkey-overlay {
    skip-at-startup
}

// prefer-no-csd

screenshot-path "~/Downloads/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    hide-after-inactive-ms 1000
}

environment {
    // Environment variables.
}

overview {
    zoom 0.15
}

xwayland-satellite {
    path "$XWAYLAND_SATELLITE_PATH"
}

animations {

}

gestures {
    hot-corners {
        off
    }
}